

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}

:root{
    --purple: #7105f3;
    --slate_blue: #7f8a9d;
    --bg_light: #F2F2F2;
    --transition_3s: all .3s ease-in-out;
    --transition_5s: all .5s ease-in-out;
}

/* utility classes */
.letter_space_2{
    letter-spacing: 2px;
}

.fs_18{
    font-size: 18px !important;
}

.f_bebas_neue{
    font-family: 'Bebas Neue', sans-serif;
}

.bg_purple{
    background: var(--purple);
}

.bg_light {
    background: var(--bg_light);
}

.txt_yellow{
    color: #FFEA01;
}

.txt_purple {
    color: var(--purple);
}

.txt_slate_blue {
    color: var(--slate_blue);
}

.border_radius_0{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.letter_space_1 {
    letter-spacing: 1px;
}

.letter_space_2{
    letter-spacing: 2px;
}

/* top_alert */
.top_alert{
    border-bottom: 2px solid var(--bs-black);
}

.top_alert button{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* nav */
.site_logo img{
    max-width: 140px;
}





/* bitcoin_location */
.bitcoin_location{
    display: flex;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background: url("../img/footer-logo.png") no-repeat;
    background-size: cover;
}

.bitcoin_location a.btn_line{
    text-decoration: none;
    padding: 9px 25px;
    font-weight: 600;
    color: var(--bs-black);
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    position: relative;
}

.bitcoin_location a.btn_line::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50px;
    height: 2px;
    background: #7005f38a;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: var(--transition_3s);
    -webkit-transition: var(--transition_3s);
    -moz-transition: var(--transition_3s);
    -ms-transition: var(--transition_3s);
    -o-transition: var(--transition_3s);
}

/* grid */
.swapee_3_grids img {
    height: 230px;
    height: 65%;
    max-height: 230px;
}

.swapee_grid_link {
    text-decoration: underline;
    color: var(--slate_blue);
    transition: var(--transition_3s);
    font-weight: 600;
    -webkit-transition: var(--transition_3s);
    -moz-transition: var(--transition_3s);
    -ms-transition: var(--transition_3s);
    -o-transition: var(--transition_3s);
}

.swapee_grid_link:hover {
    color: var(--slate_blue);
    text-decoration: none;
}

.scale_img_right img,
.scale_img_left img{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* .img_position{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
} */

/* footer */
