@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .input-swapee {
    @apply bg-primary text-gray-700 dark:text-gray-100 dark:bg-stone-700 border-0 focus:outline-none focus:ring-2 hover:ring-2 ring-swapee-purple ring-offset-swapee-purple ease-in-out transition-all duration-500;
  }
}

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/Public_Sans/static/PublicSans-Regular.ttf")
    format("truetype");
}

html {
  font-family: PublicSans, sans-serif;
}

:root {
  --purple: #7105f3;
  --slate_blue: #7f8a9d;
  --bg_light: #F2F2F2;
  --transition_3s: all .3s ease-in-out;
  --transition_5s: all .5s ease-in-out;
}

::selection {
  color: black;
  background: #eaf2ff;
}

:fullscreen {
  background-color: white;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 4px;
  scrollbar-width: thin;
  scrollbar-color: #f7f7f7;
}

@media (min-width: 720px) {
  ::-webkit-scrollbar {
      width: 12px;
    }
}

::-webkit-scrollbar-thumb {
  background-color: #222;
}

.dark > body {
  background-color: #000
}

.dark > body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

/* to paint the profile page, because the way the page is built, the only way is to paint the body tag :/ */
.dark > body::-webkit-scrollbar-track {
  background-color: #000;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

/* SCROLL BAR */

input,
textarea {
  @apply block border rounded-2xl px-5 py-4 w-full;
}

button.primary {
  @apply rounded-full border py-2 font-bold my-4 flex px-4 bg-white mx-auto hover:opacity-80;
}

.select-styles {
  @apply border rounded-2xl py-4 px-5;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 1em;
}
