@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PublicSans";
  src: url("/fonts/Public_Sans/static/PublicSans-Regular.ttf")
    format("truetype");
}

html {
  font-family: PublicSans, sans-serif;
}

::selection {
  color: black;
  background: #eaf2ff;
}

:fullscreen {
  background-color: white;
}

input {
  @apply input
}

.input {
  @apply input-bordered input-lg input-primary;
}

textarea {
  @apply textarea textarea-bordered textarea-lg textarea-primary;
}

select {
  @apply select select-bordered select-lg select-primary;
}

input, textarea, select, .input  {
  @apply w-full rounded-2xl;
}

textarea:focus, textarea:focus-within, .input:focus, .input:focus-within {
  @apply outline-offset-0;
}

input.clean {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;
  box-shadow: none;
}

.btn {
  @apply rounded-2xl btn-lg btn-block outline-none
}
